
<%= link_to user_path(@user), method: :get do %>
  <%= @user.name %>
<% end %>

<h2><%=@group.name%></h2>

<%= link_to add_user_path(@user, @group), method: :get do %>
  Add User
<% end %>

<%= link_to exit_group_path(@user, @group), method: :get do %>
  Exit Group
<% end %>

 <!-- <ul>
  <% @group.users.each do |user| %>
    <li><%= user.name %></li>
  <%end%>
</ul> -->

<ul id="img"></ul>
